# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# This file defines code owners for the data-connect-hub repository.
# Code owners are automatically requested for review when someone opens a pull request that modifies code that they own.

# Default owners for everything in the repo
* @mariusdanciu @shuynh2017 @loicmarchal @yizhaodev
